.dots-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .dot {
    fill: #0CE1AE;
  }

  .lines line {
    stroke: #0CE1AE;
    stroke-width: 3px;
  }